<% if @engajados.liderancas.present? %>
<div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="colaboradores" role="tabpanel" aria-labelledby="colaboradores-tab">
	<%#= render "engajamentos/partials/conteudo/show_colaboradores" %>llllllllllllllllll
</div>
<% end %>