<div class="font-light border border-b-1 border-gray-200 dark:border-gray-700">
	<div class="overflow-x-auto relative">
		<table class="w-full text-sm text-left text-black-500 dark:text-black-400">
			<thead class="bg-gray-100 border-b border-b border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-800">
				<tr>
					<th scope="col" class="px-4 py-4 text-left">Visão Geral</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-base bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100 ">
					<td class="px-4 py-2">Lideranças cadastradas:</td>
					<td class="px-4 py-2 text-center"><%= @engajados.count %></td>
				</tr>

				<tr class="text-base bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100 ">
					<td class="px-4 py-2">Colaboradores viculados</td>
					<td class="px-4 py-2 text-center"><%= @eventos.count %></td>
				</tr>

				<tr class="text-base bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100 ">
					<td class="px-4 py-2">Eventos registrados</td>
					<td class="px-4 py-2 text-center"><%= @eventos.count %></td>
				</tr>

				<tr class="text-base bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100 ">
					<td class="px-4 py-2">Adesivações agendadas</td>
					<td class="px-4 py-2 text-center">0</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>